<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
</head>

<body>
  <header class="header">
    <div class="container">
      <div>
        <a class="header__title" href="/">
          Пройти тест
        </a>
      </div>
      <div>
        {% if user %}
          <a class="header__link" href="/profile">
            {{ user.username }}
          </a>
          <a class="header__link" href="/auth/logout">
            Выйти
          </a>
        {% else %}
          <a class="header__link" href="/auth/form">
            Войти или зарегистрироваться
          </a>
        {% endif %}
      </div>
    </div>
  </header>

  <main class="container main">
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>
