@import "vars";

.form {
  max-width: 350px;
  margin: 0 auto;
}

.form__field {
  font-weight: bold;
}

.input {
  display: block;
  margin: 10px 0;
  padding: 7px;
  border-top: 0;
  border-right: 0;
  border-bottom: 3px solid $primary;
  border-left: 0;
  transition: $duration;
  &:focus {
    border-bottom-color: $primary-pair;
  }
}

.submit {
  padding: 7px;
  border: 0;
  border-radius: 2px;
  background: $primary;
  color: $white;
  transition: $duration;
  cursor: pointer;
  &:hover {
    background: $primary-pair;
  }
}
