@import "vars";

.header {
  width: 100%;
  box-sizing: border-box;
  background: $primary;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  font-size: 1.5rem;
  font-weight: bold;
  color: $white;
  transition-duration: $duration;
  &:hover {
    color: $primary-pair;
  }
}

.header__link {
  padding-left: 15px;
  color: $white;
  transition-duration: $duration;
  &:hover {
    color: $primary-pair;
  }
}
